<%- include('partials/_header.ejs'); -%>

<div class="header d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">    
        <h2 class="page-title">Dashboard</h2>    
    </div>
    <div class="p-2 bd-highlight">
        <h2><img class="" src="images/user-circle.svg" alt=""></h2>
    </div>
</div>

<%- include('partials/_footer.ejs'); -%>