body {
    background-color: #fafafa !important;
}

/* HEADER WHERE TITLE AND ICONS ARE */
.header {
    padding: 32px;
}

h4 {
    color: #404040 !important;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.amount_style {
    text-align: right;
}

p {
    color: #7c7c7c !important;
}

/* TRANSACTION LIST VIEW */
ul {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fafafa !important;
}

li {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fafafa !important;
}

.list-group {
    margin-bottom: 0 !important;
    border-width: 0px;
    padding-right: 32px !important;
    padding-left: 16px !important;
}

.transaction_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #5350F6;
}

.card-text-style {
    text-align: right;
}

.list_group_item_styles {
    background-color: #fafafa !important;
    border: none !important;
}

/* ADD FLOATING BUTTON */
.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:120px;
	right:32px;
	background-color:#5350F6    ;
	color:#FFF;
	border-radius:50%;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.add{
    height: 100%;
    padding: 20%;
}

/* NAVIGATION BAR */
.navbar-container {
    align-items: center;
    display:flex;
    justify-content:center;
}

.navbar1 {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    bottom: 32px;
    height: 65px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 30px;
}

.navbar1 .navbar-sections  {
    color: black;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar1 a:hover {
    background: #f1f1f1;
    color: black;
}

a p {
    color: red;
    padding-top: 5px;
}

.navbar-item-image {
    width: 22.68px;
    padding-top: 11px;}


/* MODAL */
.modal-dialog {
    top: 20px
}

/* EDIT FORM CONTAINER   */
.edit-form-container {
 padding: 32px;
}

.delete-button-style {
    background-color: #F95151 !important;
}

.update-button-style {
    background-color: #5350F7 !important;
}
