body {
    background-color: #fafafa !important;
}

table {
    table-layout: fixed;
    word-wrap: break-word;     
}

.flex-container-header {
    height: 100%;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
}
.flex-item-header {
    background: #f2f2f2;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.flex-container-user {
    height: 100%;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */


}
.flex-item-user {
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    background: #f2f2f2;
}

.container {
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container_budget_cards{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10%;
    padding-bottom: 20%;
    background-color: blue; 
}

.month_picker {
    margin-left: 10px;
    background: #f2f2f2;
}

.icons {
    vertical-align: middle;
    height: 40px ;
    margin: 10px;
}

.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:120px;
	right:32px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50%;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.add{
    height: 100%;
    padding: 20%;
}

.navbar-container {
    align-items: center;
    display:flex;
    justify-content:center;
}

.navbar1 {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    bottom: 32px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 30px;
}

.navbar1 a {
    color: black;
    text-align: center;
    display: inline-block;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 12px;
    margin: 0px auto;   
}

.navbar1 a:hover {
    background: #f1f1f1;
    color: black;
}

.card {
    margin-bottom: 10px;
    background: #f1f1f1;
}

.modal-dialog {
    top: 20px
}

