<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Expense</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/add" method="post" id="my-form-id">

                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date"
                            aria-describedby="dateHelp" placeholder="Enter date of the expense" name="date">
                    </div>
                
                    <div class="form-group">
                        <label for="categories">Category</label>
                        <select class="form-control" id="categories" name="categories">
                            <option value='1'>Rent</option>
                            <option value='2'>Groseries</option>
                            <option value='3'>Entertainment</option>
                            <option value='4'>Pets</option>
                            <option value='5'>Transport</option>
                            <option value='6'>Housekeeping</option>
                            <option value='7'>Public Utilities</option>
                            <option value='8'>Gym</option>
                            <option value='9'>Suscriptions</option>
                            <option value='10'>Others</option>
                        </select>
                    </div>
                
                    <div class="form-group">
                        <label for="notes">Note</label>
                        <input type="text" class="form-control" id="notes" name="notes"
                            placeholder="Details of the expense">
                    </div>
                
                    <div class="form-group">
                        <label for="amount_spend">Amount</label>
                        <input type="number" class="form-control" id="amount_spend" name="amount_spend"
                            placeholder="Amount of the expense" inputmode="numeric"
                            pattern="[0-9]*">
                    </div>
                    <div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" form="my-form-id">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>

                </form>

            </div>      
        </div>
    </div>
</div>

<!--FLOATING BUTTOM-->
<a href="#" class="float"><img class="add" src="/images/plus.svg" data-toggle="modal" data-target="#myModal"/></a>

<!--NAVBAR-->
<div class="navbar-container">
    <div class="navbar1">
        <div class="navbar-inner">
            <a href="#">Home</a>
            <a href="#">Transactions</a>
            <a href="#">Dashboard</a>
        </div>
    </div>
</div>

</body>
</html>