

<!--NAVBAR-->
<div class="navbar-container">
    <div class="navbar1 shadow p-3">
        <div class="navbar-inner">
            <a href="/">Home</a>
            <a href="/transactions">Transactions</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>
</div>

<script src="/js/swipe_effect.js"></script>
</body>
</html>